appdirs
attrs
black
certifi
chardet
click
fastapi
fsspec
gcsfs
gunicorn
h11
idna
iniconfig
mypy-extensions
numpy
packaging
pandas
pathspec
patsy
pluggy
py
pyarrow
pydantic
pyparsing
pytest
pytest-cov
python-dateutil
pytz
regex
requests
scipy
six
starlette
statsmodels
toml
typed-ast
typing-extensions
urllib3
uvicorn